/* reset */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

/* general style */
.bg-white {
    background-color: rgb(255, 255, 255);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    height: 100%;
    
}

hr {
  opacity: 1.25 !important;
}

.hr {
  background-color: #0d6efd;
  height: 2px;
   border: none;
}

.hr-small-left {
  width: 45%;
  margin-left: auto;
}
.hr-large-left {
  width: 100%;
  margin-left: auto;
}

.hr-small-right {
  width: 45%;
  margin-right: auto;
}
.hr-large-right {
  width: 100%;
  margin-right: auto;
}

/* customed style */
.divider {
    width: 2px;
    height: 20px;
}
#upArrow {
  z-index: 9999;
}

.h-2 {
    height: 2px;
}
.navbar-nav .nav-link {
  color: #000 !important;
}

.navbar .dropdown-menu {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  visibility: hidden;
  display: block;
}

.navbar .nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.navbar .dropdown-menu .dropdown-item:hover {
  color: #0d6efd;
}

.carousel-item img {
    height: 500px;
}

.carousel-indicators {
    flex-direction: column;
    left: 80%;
    top: 20%;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    background-color: white;

}

.carousel-indicators button:hover {
    background-color: transparent;
    border: 1px solid white;
}

.carousel-indicators .active {
    background-color: transparent;
    border: 1px solid white;
}

.btn-outline-light:hover {
    background-color: #0c65ed;
    border: none;
}
.mcard{
    border: none;
    box-shadow: 0px 0px 41px 8px #b6b2b2;
}
.mcard .row:hover i,
.mcard .row:hover h5 {
  color: #0d6efd !important;
}
.bg-image{
    background-image: url(../images/slider2.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
.card-opacity {
  opacity: 0;
  transform: translateY(20px);
  transition:  0.2s linear;
 max-height: 0;
  
}

.cardBox:hover .card-opacity {
  opacity: 1;
  transform: translateY(0);
    transition:  0.5s ease !important;
      max-height: 500px;
}
.cardBox:hover hr {
  display: none;
}
.w-40{
  width: 40%;
}
.owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.btn-outline-dark:hover {
  background-color: transparent !important;
  color: #000 !important;
}
.card-img-top {
  width: 100%;
  transition: 0.5s;
  display: block;
}

.card:hover .card-img-top {
  transform: scale(1.1) rotate(-2deg);
}

.card:hover .icons {
  background-color:  #0c65ed !important;
 
}

.card:hover .progress-bar {
  width: 100% !important;
  
}
 .card-title:hover {
  color: #0c65ed !important;
}
.card-body .sm1:hover ,.sm2:hover {
  color: #0c65ed;
}
.card i:hover {
  color: rgb(219, 216, 216);
}
.h-200{
  height: 200px !important;
}
 .custom-btn:hover {
    color: #0d6efd !important;    
    background-color: #f8f9fa !important; 
    border-color: #0d6efd !important; 
 }
 .fo-btn{
  border: none;
 }
 .fo-btn:hover{
  background-color: #0c65ed !important;
  color: white !important;
 }
 .dark{
 background-color: rgba(0, 0, 0, 0.6);
 }

input:hover,
  textarea:hover {
    border-color: #0d6efd !important; 
  }
.btn-shine {
  position: relative;
  overflow: hidden;
}

.btn-shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: left 0.4s;
}

.btn-shine:hover::after {
  left: 100%;
}
